.homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem
}

.top_intro {
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: row;
    border-top: none
}

.top_intro h1 {
    font-size: 3rem;
    line-height: 4rem;
    color: rgb(var(--foreground-headings-rgb))
}

.top_intro_2 {
    position: relative;
    margin: 1rem;
    max-width: 724px;
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    padding-top: 24px;
    transition: all .4s cubic-bezier(0,.59,.345,1)
}

/* .content {
    margin-top: 270px;
    transition: margin-left 0.3s ease;
}

.shifted {
    margin-left: 120px;
} */

.intro_info{
    display: flex;
    flex-direction: column;
}

.intro_name {
    font-family: "__DM_Serif_Text_5424ad","__DM_Serif_Text_Fallback_5424ad";
    font-weight: 400;
    font-style: normal;
    margin-bottom: 5px;
    margin-top: 0;
}

.intro_description{
    font-size: .9em;
    margin-block:.6rem;
}

.intro_description_caps {
    text-transform: uppercase;
    font-size: .7em;
    letter-spacing: .1rem;
    margin-block:.25rem;
}

.socials {
    position: relative;
    background-color: transparent;
    min-width: 300px;
    min-height: 30px;
    margin: 0px 0px 10px;
    display: flex;
    align-items: center;
}

.socials a{
    padding-right: 2rem;
}

@media (max-width: 750px) {
    .socials {
        justify-content:center;
    } 
}

.socials a {
    outline: none!important;
    margin: 10px 7px;
    display: inline-block;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .5;
    cursor: pointer;
    transition: all .1s linear;
}

.socials a:hover {
    opacity: .8;
    background-color: transparent;
}

.Socials_hotLink__V_Z0s {
    color: #040404;
}

.intro_link {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
}

.intro_link_text {
    font-size: .9em;
    line-height: 1.5rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -.003em;
    z-index: 1;
    padding-right: 20px;
    padding-bottom: 10px;
    transition: all .25s ease-in-out;
}

.intro_link_text:last-child {
    padding-right: 0;
}

.intro_link_text a {
    position: relative;
    transition: all .25s ease-in-out;
}

.image_container {
    position: relative;
    z-index: 1;
    width: 160px;
    height: 160px;
    margin: auto 100px auto 0
}

.user_image {
    position: relative;
    z-index: 2;
    border-radius: 100%;
    height: 160px;
    width: 160px;
    transition: all .5s cubic-bezier(.43,.165,.125,.98);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none
}

.home_section{
    position: relative;
    /* margin: 1rem; */
    max-width: 724px;
    /* width: 100%; */
    min-height: 50px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding-top: 24px;
    transition: all .4s cubic-bezier(0,.59,.345,1)
}

.home_section_title{
    margin: 0 0 1rem;
    font-size: 2rem;
    z-index: 1;
    color: rgb(var(--foreground-headings-rgb))
}

.home_section_paragraph {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0 0 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -.003em;
    z-index: 1;
    text-align: justify;
    text-justify: inter-word;
    word-break: auto-phrase;
}



.home_update_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
}

.home_update_date_container {
    width: 15%;
    text-align: right;
    padding-right: 20px;
}

.home_update_date {
    font-weight: 600;
    font-size: .8rem;
    line-height: 1.6rem;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home_dot {
    height: 6px;
    width: 6px;
    margin-right: 6px;
    border-radius: 100%;
    display: inline-block;
}

.home_update_text_container {
    width: 85%;
}

.home_update_text{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -.003em;
    z-index: 1;
    margin: 12 0 0 0;
}



.home_project_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
}

.home_project_title_container {
    width: 30%;
    padding-right: 20px;
}

.home_project_header {
    position: relative;
    margin: 0;
    font-weight: 500;
    font-size: 1.3em;
    line-height: 1.4em;
    
}

.home_project_header_upperline {
    height: 3px;
    width: 25%;
    max-width: 64px;
    position: absolute;
    background: red;
    top: -8px;
    left: 0;
    transition: all 4s ease-in-out;
    border-radius: 2px;
}

.home_project_header_alt {
    font-size: .64rem;
    line-height: 1.1rem;
    letter-spacing: .5px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}

.home_footer_container {
    position: relative;
    width: 100%;
    background: #0b1223;
}

.home_footer_container_inner {
    margin: 0 auto;
    max-width: 724px;
    padding-block: 0;
}

.home_footer_flex_container {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.home_footer_text_container {
    padding: 38px 0;
    margin: 0;
    color: #fff;
}

.home_disclaimer, .home_disclaimer a {
    font-size: .8rem;
    font-weight: 500;
    color: #fff;
}

@media (max-width: 750px) {
    .image_container {
        margin:40px auto 60px
    }
    .top_intro {
        text-align: center;
        justify-content: center;
        flex-direction: column-reverse
    }
    .intro_link{
        justify-content: center;
    }
    .home_update_container{
        flex-direction: column;
    }
    .home_update_date_container{
        text-align: left;
        width: 100%;
    }
    .home_update_text_container{
        width: 100%;
    }
    .home_update_date{
        justify-content: flex-start;
    }
    .home_project_container{
        flex-direction: column;
    }
    .home_project_title_container{
        width: 100%;
        padding-right: 0;
    }
    .homepage{
        padding-inline: 32px;
    }
    .home_footer_flex_container{
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .home_footer_container_inner{
        padding-inline: 32px;
    }
    .home_footer_text_container{
        padding: 10px 0;
    }
    .home_disclaimer{
        text-align: left;
    }
}

@font-face {
    font-family: __Inter_0ec1f4;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/_next/static/media/d1d9458b69004127-s.woff2) format("woff2");
    unicode-range: U+0460-052f,U+1c80-1c88,U+20b4,U+2de0-2dff,U+a640-a69f,U+fe2e-fe2f
}

@font-face {
    font-family: __Inter_0ec1f4;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/_next/static/media/b967158bc7d7a9fb-s.woff2) format("woff2");
    unicode-range: U+0301,U+0400-045f,U+0490-0491,U+04b0-04b1,U+2116
}

@font-face {
    font-family: __Inter_0ec1f4;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/_next/static/media/ae9ae6716d4f8bf8-s.woff2) format("woff2");
    unicode-range: U+1f??
}

@font-face {
    font-family: __Inter_0ec1f4;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/_next/static/media/c0f5ec5bbf5913b7-s.woff2) format("woff2");
    unicode-range: U+0370-03ff
}

@font-face {
    font-family: __Inter_0ec1f4;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/_next/static/media/b1db3e28af9ef94a-s.woff2) format("woff2");
    unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01a0-01a1,U+01af-01b0,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+1ea0-1ef9,U+20ab
}

@font-face {
    font-family: __Inter_0ec1f4;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/_next/static/media/9c4f34569c9b36ca-s.woff2) format("woff2");
    unicode-range: U+0100-02af,U+0304,U+0308,U+0329,U+1e00-1e9f,U+1ef2-1eff,U+2020,U+20a0-20ab,U+20ad-20cf,U+2113,U+2c60-2c7f,U+a720-a7ff
}

@font-face {
    font-family: __Inter_0ec1f4;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/_next/static/media/2aaf0723e720e8b9-s.p.woff2) format("woff2");
    unicode-range: U+00??,U+0131,U+0152-0153,U+02bb-02bc,U+02c6,U+02da,U+02dc,U+0304,U+0308,U+0329,U+2000-206f,U+2074,U+20ac,U+2122,U+2191,U+2193,U+2212,U+2215,U+feff,U+fffd
}

@font-face {
    font-family: "__DM_Serif_Text_Fallback_5424ad";
    src: local("Times New Roman");
    ascent-override:93.95%;descent-override:30.38%;line-gap-override:0.00%;size-adjust:110.28%
}
.__className_6356df {
    font-family: __Inconsolata_6356df,__Inconsolata_Fallback_6356df;
    font-weight: 400;
    font-style: normal
}